/*RESPONSIVO*/
@media screen and (max-width:960px){

    nav{width:100%; }
    
    #menu-dropdown{ width:100%; }
    
    #menu-dropdown ul{ 
    
        width:100%;
        display:none; 
    }
    
    #menu-dropdown ul li{
    
        width:100%;
        border-top:1px solid #e40a0a;
    }
    
    #menu-dropdown ul li:hover{
    
        background:#e50c0c;
    
    }
    
    #menu-dropdown ul ul li,#menu-dropdown li:hover > ul > li{ height:auto; }
    
    #menu-dropdown ul li a,#menu-dropdown ul ul li a{ 
    
        width:100%;
        border-bottom:0;
    }
    
    #menu-dropdown > ul > li{ 
    
        float:none; 
    }
    
    #menu-dropdown ul ul li a{
    
        padding-left:25px; 
    
    }
    
    #menu-dropdown ul ul li{ 
    
        background:#de0a0a!important;
    }
    
    #menu-dropdown ul ul li:hover{
    
        background:#d00909!important;
    }
    
    #menu-dropdown ul ul ul li a{
    
        padding-left:35px;
    
    }
    
    #menu-dropdown ul ul li a{
    
        color:#de0404;
        background:none;
    
    }
    
    #menu-dropdown ul ul li:hover > a,#menu-dropdown ul ul li.active > a{
    
        color:#d51919;
    
    }
    
    #menu-dropdown ul ul,#menu-dropdown ul ul ul{ 
        
        position:relative; 
        left:0; 
        width:100%; 
        margin:0; 
        text-align:left;
        display:block;  
    }
    
    #menu-dropdown > ul > li.has-sub > a:after,#menu-dropdown > ul > li.has-sub > a:before,#menu-dropdown ul ul > li.has-sub > a:after,#menu-dropdown ul ul > li.has-sub > a:before{display:none}
    #menu-dropdown #btn-mobile{
    
        display:block;
        padding: 15px 15px;
        color:#242424;
        font-size:1em;
    
    }
    
    
    .menu-opened:after{
    
        -webkit-transition:all .3s ease;
        -ms-transition:all .3s ease;
        transition:all .3s ease;
        top:23px;
        border:0;
        height:2px;
        width:19px;
        background:#4c4c4c;
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        transform:rotate(45deg);
    }
    
    .menu-opened:before{
    
        top:23px;
        background:#4c4c4c;
        width:19px;
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);
        transform:rotate(-45deg);
    }
    
    #menu-dropdown .submenu-button{
    
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        height: 45px;
        width: 45px;
        cursor: pointer;
    
    }
    
    #menu-dropdown .submenu-button.submenu-opened{ 
    
        background:transparent; 
    
    }
    
    #menu-dropdown ul ul .submenu-button{ 
    
        height:35px; 
        width:35px; 
    }
    
    #menu-dropdown .submenu-button:after{
    
        position:absolute;
        top:22px;
        right:19px;
        width:8px;
        height:2px;
        display:block;
        background:#4c4c4c;content:''
    
    }
    
    #menu-dropdown ul ul .submenu-button:after{
    
        top:15px;
        right:13px;
    
    }
    
    #menu-dropdown .submenu-button.submenu-opened:after{ 
    
        background:#4c4c4c; 
    }
    
    #menu-dropdown .submenu-button:before{
    
        position:absolute;
        top:19px;
        right:22px;
        display:block;
        width:2px;
        height:8px;
        background:#4c4c4c;
        content:'';
    }
    
    #menu-dropdown ul ul .submenu-button:before{ 
    
        top:12px; 
        right:16px; 
    }
    
    #menu-dropdown .submenu-button.submenu-opened:before{
    
        display:none;
    
    }
    
    #menu-dropdown ul ul ul li.active a{ 
    
        border-left:none; 
    }
    
    #menu-dropdown > ul > li.has-sub > ul > li.active > a,#menu-dropdown > ul ul > li.has-sub > ul > li.active > a{
    
        border-top:none
    
       }
    }



/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em){

    .boxBannerTopo { padding:1em 0; }
    
    }
    
    /*600PX BREAKPOINT*/
    /*600 dividido por 16 = 37,5em*/
    @media (min-width:37em){
    
    
    } 
    
    /*768PX BREAKPOINT*/
    /*768 dividido por 16 = 48em*/
    @media (min-width:48em){
    
    
    } 
    
    /*960PX BREAKPOINT*/
    /*960 dividido por 16 = 60em*/
    @media (min-width:60em){
    
     .section-seu-codigo          { padding:20px 0px; }
     .section-seu-codigo .content { width:80%; padding:1em 0; margin:0 10%; }
    
    }
    
    /*1280PX BREAKPOINT*/
    /*1280 dividido por 16 = 80em*/
    @media (min-width:80em){
    
     
    }
    
    /*1366PX BREAKPOINT*/
    /*1366 dividido por 16 = 85,375em*/
    @media (min-width:85em){
    
     .content  { width:80%; margin:0 10%; }
    
    }
    
    /*1600PX BREAKPOINT*/
    /*1600 dividido por 16 = 100em*/
    @media (min-width:100em){
    
    
    }
    /*Fecha o Responsivo*/